<!doctype html>
<html>
  <head>
    <title>Rocket Example - {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
  </head>
  <body>
    {{> nav}}
    {{~> page}}
    {{> footer}}
  </body>
</html>
