<link rel="stylesheet" type="text/css" href="css/nav.css">
<ul class="nav">
  <li class="nav"><a class="active" href="/hello/Unknown">Hello</a></li>
  <li class="nav"><a href="/games">Games</a></li>
  <li class="nav"><a href="/contact">Contact</a></li>
  <li class="nav" style="float:right"><a href="/aboutme">About Me</a></li>
</ul>
